#mySidebar.w3-sidebar.w3-bar-block.w3-card.w3-animate-left(style='display:none')
  button#closeNav.w3-bar-item.w3-button.w3-large 
    | Close &times;
  each page in pages
    a.w3-bar-item.w3-button(href=page.link)
      | #{page.long}
