@keyframes area_5 {
  from {
    d: path("M 0 70 C 50 60 70 60 120 80 S 170 110 200 100 L 200 0 L 0 0 z");
  }
  50% {
    d: path("M 0 50 C 30 40 50 40 100 60 S 150 90 200 80 L 200 0 L 0 0 z");
  }
  to {
    d: path("M 0 70 C 50 60 70 60 120 80 S 170 110 200 100 L 200 0 L 0 0 z");
  }
}

@keyframes line_5 {
  from {
    d: path("M 0 70 C 50 60 50 60 100 80 S 150 100 200 90");
  }
  50% {
    d: path("M 0 50 C 30 40 20 40 70 60 S 100 80 200 70");
  }
  to {
    d: path("M 0 70 C 50 60 50 60 100 80 S 150 100 200 90");
  }
}

path#svg_area_5 {
  fill: #2196F3;

  animation-duration: 5s;
  animation-name: area_5;
  animation-iteration-count: 3;
  animation-timing-function: ease;
  animation-direction: normal;
}

path#svg_line_5 {
  animation: line_5 4s ease 4 normal;
}
