doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title Example Template
    style 
      include:stylus ../css/style.styl
    script      
      include:coffee-script(bare=true) ../js/script.coffee
    script(src='../js/live.js')

  body
    include partials/body.pug
