<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>
<body>
  {% include sidebar.html %}

  <div id="main">
    {% include navbar.html %}

    <div class="w3-container">
    {{ content }}
    </div>
  </div>

</body>
</html>
