// sub-property: abbreviation
@sides: {top: t; bottom: b; left: l; right: r}
@properties: {margin: m; padding: p}

.foo(@number, @prop, @abbr) {
  each(@sides, {
    .@{abbr}-@{value}-@{number} {
      @{prop}-@{key}: (1px * @number);
    }
  })
}

.loop(@cursor) when (@cursor > 0) {
  // next iteration
  .loop((@cursor - 1));
  
  each(@properties, {
    // actual printing
    .foo((@cursor * 5), @key, @value)
  })  
}

// launch the loop
.loop(5);
