<template>
  <main class="tabs">
    <div class="tab-headers">
      <tabheader
        v-for="tab in tabs" v-bind:key="tab.name"
        :title="tab.title" :color="tab.color"
        :tabname="tab.name"
      />
    </div>

    <div class="tab-spacer"></div>

    <div class="tab-contents">
      <tabcontent
        v-for="tab in tabs" v-bind:key="tab.name"
        :text="tab.text" :title="tab.title" :color="tab.color"
        :tabname="tab.name"
      />
    </div>
  </main>
</template>

<script>
import { inject } from 'vue'
import { provide, ref } from 'vue'
import tabheader  from '@/components/simple/TabHeaderSimple.vue'
import tabcontent from '@/components/simple/TabContentSimple.vue'

export default {
  name: 'TabsSimple',
  components: { tabheader, tabcontent },
  setup() {
    const tabs = inject('tabsArray')

    const tabSelected = ref('team')
    provide('tabSelected', tabSelected)

    return { tabs }
  }
}
</script>

<style scoped>
  @import '../../assets/css/simple-layout.css';
</style>
