doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title Example Template
    link(href='../css/style.css', rel='stylesheet', type='text/css')
    script(src='../js/script.js')
    script(src='../js/live.js')

  body
    .container
      h2 Relationship Alerts
      p To close the alerts, click on the X in the upper right corner:

      div.panel.red.display-container#red-danger
        span.dismissable.button.large.display-topright &times;
        p
          strong Danger!
          | : Red light indicates door a secured.

      div.panel.yellow.display-container#yellow-warning
        span.dismissable.button.large.display-topright &times;
        p
          strong Warning!
          | : Yellow light indicates that something could go wrong.

      div.panel.green.display-container#green-success
        span.dismissable.button.large.display-topright &times;
        p
          strong Success!
          | : Green light indicates on schedule, on budget, all good.

      div.panel.blue.display-container#blue-info
        span.dismissable.button.large.display-topright &times;
        p
          strong Info!
          | : Blue light indicates that you are in electronics mode.
