<template>
     <div
       v-show="isActive"
       v-bind:class="this.color">
       <slot></slot>
     </div>
</template>

<script>
export default {
  name: 'TabItemSimple',
  props: {
    name:  { required: true },
    title: { required: true },
    color: { default: '' }
  },
  data() {
    return {
      isActive: false
    };
  },
}
</script>
