@tailwind base;

@layer base {
  h1  { @apply text-4xl; }
  h2  { @apply text-3xl; }
  h3  { @apply text-2xl; }
}

@tailwind components;
@tailwind utilities;

body  { @apply font-sans m-4; }
section h1 { @apply m-4; }

/* Main Layout: Mobile First */

.tabs {
  @apply flex flex-col max-w-5xl
    border border-solid border-gray-200;
}

.tabs *      { @apply box-border; }

@screen md {
  .tabs      { @apply flex-row; }  
  .tabs>*    { min-height: 12rem; }
}

/* Inner and Outer Layout */

.tab-spacer  { @apply h-5 bg-gray-700; }

.tab-headers { flex-basis: 30%; }

.tab-headers div { 
  @apply p-4 h-16 flex items-center cursor-pointer
    duration-300 overflow-hidden text-white text-base;
}
.tab-contents       { flex-basis: 70%; }
.tab-contents div   { @apply p-4 h-full text-white text-base; }

/* Add some decoration */
.tab-headers div:hover { @apply bg-gray-500; }
