
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= page.title || "Link Example - Default" %></title>

  <%- css('/css/w3.css') %>
  <%- js('/js/script.js') %>
