.red {
  color: #fff !important;
  background-color: #f44336 !important;
}
.yellow {
  color: #000 !important;
  background-color: #ffeb3b !important;
}
.green {
  color: #fff !important;
  background-color: #4caf50 !important;
}
.blue {
  color: #fff !important;
  background-color: #2196f3 !important;
}
