$red: (
  "base":       #F44336,
  "lighten-2":  #E57373,
  "lighten-1":  #EF5350,
);

$color_name: "red";
$color: $red;

@each $color_type, $color_value in $color {
  .#{$color_name}.#{$color_type} {
    background-color: $color_value !important;
  }
  .#{$color_name}-text.text-#{$color_type} {
    color: $color_value !important;
  }
}
