<template>
  <div class="bg-gray-700">{{ title }}</div>
</template>

<script>
export default {
  name: 'TabHeaderMockup',
  props: {
    tabname: { type: String, required: true },
    title:   { type: String, required: true },
    color:   { type: String, required: true }
  }
}
</script>
