@shades: {
  black:        #000000;
  white:        #FFFFFF;
  transparent:  transparent
}

each(@shades, {
  .@{key}{
    background-color: @value !important;
  }
  .@{key}-text {
    color: @value !important;
  }
})
