.red {
  background-color: #F44336 !important;
}
.red-text {
  color: #F44336 !important;
}
.red.lighten-2 {
  background-color: #E57373 !important;
}
.red-text.text-lighten-2 {
  color: #E57373 !important;
}
.red.lighten-1 {
  background-color: #EF5350 !important;
}
.red-text.text-lighten-1 {
  color: #EF5350 !important;
}
.blue {
  background-color: #2196F3 !important;
}
.blue-text {
  color: #2196F3 !important;
}
.blue.lighten-2 {
  background-color: #64B5F6 !important;
}
.blue-text.text-lighten-2 {
  color: #64B5F6 !important;
}
.blue.lighten-1 {
  background-color: #42A5F5 !important;
}
.blue-text.text-lighten-1 {
  color: #42A5F5 !important;
}
