@red: {
  base:       #F44336;
  lighten-2:  #E57373;
  lighten-1:  #EF5350;
}

@blue: {
  base:       #2196F3;
  lighten-2:  #64B5F6;
  lighten-1:  #42A5F5;
}

@colors: {
  red: @red;
  blue: @blue;
}

.foo_color(@color_name, @color) {
  each(@color, {
    @is-base: boolean(@key = base);

    & when (@is-base = true) {
      .@{color_name} {
        background-color: @value !important;
      }
      .@{color_name}-text {
        color: @value !important;
      }
    }

    & when (@is-base = false) {
      .@{color_name}.@{key} {
        background-color: @value !important;
      }
      .@{color_name}-text.text-@{key} {
        color: @value !important;
      }
    }
  })
}

each(@colors, {
  .foo_color(@key, @value)
})
