@tailwind base;

@layer base {
  h1  { @apply text-4xl; }
  h2  { @apply text-3xl; }
  h3  { @apply text-2xl; }
  a   { @apply underline text-blue-700; }
}

@tailwind components;
@tailwind utilities;

@layer utilities { .flex-30 { flex-basis: 30% } }
@layer utilities { .flex-70 { flex-basis: 70% } }

body  { @apply font-sans m-4; }
section h1 { @apply m-4; }

/* Main Layout: Mobile First */

.tabs-enh {
  @apply flex flex-col max-w-5xl
    border border-solid border-gray-200;
}

.tabs-enh *      { @apply box-border; }

@screen md {
  .tabs-enh      { @apply flex-row; }  
  .tabs-enh > *  { min-height: 12rem; }
}

/* Inner and Outer Layout */

.tab-enh-spacer  { @apply h-5 bg-gray-700; }

.tab-enh-headers { @apply flex-30; }

.tab-enh-headers div { 
  @apply pl-4 pr-4 h-16 flex items-center cursor-pointer
    duration-300 overflow-hidden text-white text-base;
}

.tab-enh-headers div div    { @apply w-full; }
.tab-enh-headers div:hover  { @apply bg-gray-500; }
.tab-enh-headers div.active:hover       { @apply bg-gray-700; }
.tab-enh-headers div.active div:hover   { @apply bg-gray-100; }

.tab-enh-contents       { @apply flex-70; }
.tab-enh-contents>div   { @apply pl-4 pr-4 h-full text-black text-base; }
.tab-enh-content        { @apply p-4 h-full; }

@screen md {
  .tab-enh-spacer       { @apply hidden; }
  .tab-enh-headers div  { @apply pl-4 pr-0; }
  .tab-enh-contents>div { @apply pl-0 pr-4; }
}

/* Color Decorations */
.tab-enh-headers>div:hover              { @apply bg-gray-500; }
.tab-enh-headers div.active:hover       { @apply bg-gray-700; }
.tab-enh-headers div.active div:hover   { @apply bg-gray-300; }
.tab-enh-content                        { @apply bg-white; }
.tab-enh-contents div div.is-hovered    { @apply bg-gray-300; }
.tab-enh-headers .bg-white { @apply text-black; }

.dummy-pallete { @apply hidden; }
