<template>
  <main class="tabs">
    <div class="tab-headers">
      <div v-on:click="selected = 'home'"
           v-bind:class="{ 
             'active bg-blue-500' : selected == 'home', 
             'bg-gray-700' : selected != 'home' }"
          >Home
      </div>
      <div v-on:click="selected = 'team'"
           v-bind:class="{ 
             'active bg-teal-500' : selected == 'team', 
             'bg-gray-700' : selected != 'team' }"
          >Team
      </div>
      <div v-on:click="selected = 'news'"
           v-bind:class="{ 
             'active bg-red-500' : selected == 'news', 
             'bg-gray-700' : selected != 'news' }"
          >News
      </div>
      <div v-on:click="selected = 'about'"
           v-bind:class="{ 
             'active bg-orange-500' : selected == 'about', 
             'bg-gray-700' : selected != 'about' }"
          >About
      </div>
    </div>

    <div class="tab-spacer"></div>

    <div class="tab-contents">
      <div v-show="selected == 'home'"
           v-bind:class="{ 'bg-blue-500' : selected == 'home' }">
          <h3>Home</h3>
          <p>Lorem ipsum dolor sit amet,
             consectetur adipiscing elit.
             Quisque in faucibus magna.</p>
      </div>
      <div v-show="selected == 'team'"
           v-bind:class="{ 'bg-teal-500' : selected == 'team' }">
          <h3>Team</h3>
          <p>Nulla luctus nisl in venenatis vestibulum.
             Nam consectetur blandit consectetur.</p>
      </div>
      <div v-show="selected == 'news'"
           v-bind:class="{ 'bg-red-500' : selected == 'news' }">
          <h3>News</h3>
          <p>Phasellus vel tempus mauris,
             quis mattis leo.
             Mauris quis velit enim.</p>
      </div>
      <div v-show="selected == 'about'"
           v-bind:class="{ 'bg-orange-500' : selected == 'about' }">
          <h3>About</h3>
          <p>Interdum et malesuada fames ac ante
             ipsum primis in faucibus.
             Nulla vulputate tortor turpis,
             at eleifend eros bibendum quis.</p>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'SimpleInline',
  data() {
    return {
      selected: 'news'
    };
  }
}
</script>

<style scoped>
  @import '../assets/css/simple-layout.css';
</style>
